.add-new-destination-form-add-new-destination-form {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.add-new-destination-form-text {
  margin-bottom: var(--dl-space-space-unit);
}
.add-new-destination-form-form {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
}
.add-new-destination-form-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.add-new-destination-form-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.add-new-destination-form-image {
  width: 200px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.add-new-destination-form-container2 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.add-new-destination-form-textinput {
  width: 300px;
  border-radius: var(--dl-radius-radius-radius8);
}
.add-new-destination-form-textinput1 {
  width: 300px;
  border-radius: var(--dl-radius-radius-radius8);
}
.add-new-destination-form-textinput2 {
  width: 300px;
  border-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 767px) {
  .add-new-destination-form-add-new-destination-form {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
