.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 8px;
}

.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}

.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}

.place-card-container1:hover {
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 0.26);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.place-card-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}

.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  text-align: justify;
  margin-bottom: var(--dl-space-space-doubleunit);
}

@media (max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}

@media (max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}
