.place-card-container {
  width: 300px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}

.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.place-card-container1:hover {
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 0.26);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8;
  border-bottom-right-radius: 8;
}

.place-card-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  text-align: justify;
  margin-bottom: var(--dl-space-space-doubleunit);
  overflow: hidden; /* Truncate long text */
  text-overflow: ellipsis; /* Display ellipsis for truncated text */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit the number of lines */
}

@media (max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}

@media (max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}
